{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    {% load my_tags %}
    <!-- Begin page content -->
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p>{{iris_portal.version}}, 
                <p>Instance:<b> {% iris_piece iris_portal.instance "*" 1 %}</b>, dir: <b>{% iris_piece iris_portal.instance "*" 0 %} </b>
                {% if iris_portal.status != 'ok' %} 
                    <span style="color:red"> {{iris_portal.status}} </span>
                {% endif %}     
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"><h3>{% trans 'View Messages Log' %}</h3>
                <span class="text-muted"> <a href="/iris_mp_list/?mp_context=Alerts"> {% trans 'Alerts' %}: {{ iris_portal.alerts.count }}  </a> </span> 
                <span class="text-muted"> <a href="/iris_mp_list/?mp_context=Messages"> {% trans 'Messages' %}: {{ iris_portal.mess.count }}  </a> </span> 
            </div>
            <div class="col-sm-4"><h3>{% trans 'Namespaces' %}</h3>
                <span class="text-muted"> <a href="/iris_mp_list/?mp_context=Namespaces">{% trans 'Quantity' %}: {{ iris_portal.ns.count }}  </a> </span> 
            </div>
            <div class="col-sm-4"><h3>{% trans 'Database' %}</h3>
                <span class="text-muted"> <a href="/iris_mp_list/?mp_context=Databases">{% trans 'Quantity' %}: {{ iris_portal.db.count }}  </a> </span> 
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"><h3>{% trans 'LockTab' %}</h3>
                <span class="text-muted"> <a href="/iris_mp_list/?mp_context=Locktab">{% trans 'Quantity' %}: {{ iris_portal.lock.count }}  </a> </span> 
            </div>
            <div class="col-sm-4"><h3>{% trans 'Products' %}</h3>
                {% trans 'Quantity' %}: {{ iris_portal.process.count }}  
            </div>
            <div class="col-sm-4"><h3>{% trans 'Web Application' %}</h3>
                {% trans 'Quantity' %}: {{ iris_portal.process.count }}  
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"><h3>{% trans 'Users' %}</h3>
                {% trans 'Quantity' %}: {{ iris_portal.process.count }}  
            </div>
            <div class="col-sm-4"><h3>{% trans 'Roles' %}</h3>
                {% trans 'Quantity' %}: {{ iris_portal.process.count }}  
            </div>
            <div class="col-sm-4"><h3>{% trans 'Process' %}</h3>
                <span class="text-muted"> <a href="/iris_mp_list/?mp_context=Process">{% trans 'Quantity' %}: {{ iris_portal.proc.count }}  </a> </span> 
            </div>
        </div>
    </div>
{% endblock %}