{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    {% load my_tags %}
    <!-- Begin page content -->
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p>{{iris_portal.version}}, 
                <p>Instance:<b> {% iris_piece iris_portal.instance "*" 1 %}</b>, 
                    dir: <span class="text-muted"> <a href="/iris_mp_list/?mp_context=cpf"> <b>{% iris_piece iris_portal.instance "*" 0 %} </b> </a> </span> 
                {% if iris_portal.status != 'ok' %} 
                    <span style="color:red"> {{iris_portal.status}} </span>
                {% endif %}     
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"><h3>{% trans 'View Messages Log' %}</h3>
                <span class="text-muted"> <a href="/iris_mp_list/?mp_context=Alerts"> {% trans 'Alerts' %}: <b>{{ iris_portal.alerts.count }} </b> </a> </span> 
                <span class="text-muted"> <a href="/iris_mp_list/?mp_context=Messages"> {% trans 'Messages' %}: {{ iris_portal.mess.count }}  </a> </span> 
            </div>
            <div class="col-sm-4"><h3>{% trans 'Namespaces' %}</h3>
                <span class="text-muted"> <a href="/iris_mp_list/?mp_context=Namespaces">{% trans 'Quantity' %}:<b> {{ iris_portal.ns.count }} </b> </a> </span> 
            </div>
            <div class="col-sm-4"><h3>{% trans 'Database' %}</h3>
                <span class="text-muted"> <a href="/iris_mp_list/?mp_context=Databases">{% trans 'Quantity' %}:<b> {{ iris_portal.db.count }}  </b></a> </span> 
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"><h3>{% trans 'LockTab' %}</h3>
                <span class="text-muted"> <a href="/iris_mp_list/?mp_context=Locktab">{% trans 'Quantity' %}:<b> {{ iris_portal.lock.count }}  </b></a> </span> 
            </div>
            <div class="col-sm-4"><h3>{% trans 'Products' %}</h3>
                <span class="text-muted"> <a href="/iris_mp_list/?mp_context=Products">{% trans 'Quantity' %}:<b> {{ iris_portal.prod.count }}  </b></a> </span> 
            </div>
            <div class="col-sm-4"><h3>{% trans 'Web Application' %}</h3>
                <span class="text-muted"> <a href="/iris_mp_list/?mp_context=Apps">{% trans 'Quantity' %}:<b> {{ iris_portal.apps.count }}  </b></a> </span> 
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"><h3>{% trans 'Users' %}</h3>
                <span class="text-muted"> <a href="/iris_mp_list/?mp_context=Users">{% trans 'Quantity' %}:<b> {{ iris_portal.users.count }} </b> </a> </span> 
            </div>
            <div class="col-sm-4"><h3>{% trans 'Roles' %}</h3>
                <span class="text-muted"> <a href="/iris_mp_list/?mp_context=Roles">{% trans 'Quantity' %}:<b> {{ iris_portal.roles.count }} </b> </a> </span> 
            </div>
            <div class="col-sm-4"><h3>{% trans 'Process' %}</h3>
                <span class="text-muted"> <a href="/iris_mp_list/?mp_context=Process">{% trans 'Quantity' %}:<b> {{ iris_portal.proc.count }} </b> </a> </span> 
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"><h3>{% trans 'Services' %}</h3>
                <span class="text-muted"> <a href="/iris_mp_list/?mp_context=Services">{% trans 'Quantity' %}:<b>  {{ iris_portal.serv.count }} </b> </a> </span> 
            </div>
            <div class="col-sm-4"><h3>{% trans 'Resources' %}</h3>
                <span class="text-muted"> <a href="/iris_mp_list/?mp_context=Resources">{% trans 'Quantity' %}:<b>  {{ iris_portal.res.count }} </b> </a> </span> 
            </div>
            <div class="col-sm-4"><h3>{% trans 'Tasks' %}</h3>
                <span class="text-muted"> <a href="/iris_mp_list/?mp_context=Tasks">{% trans 'Quantity' %}:<b>  {{ iris_portal.tasks.count }} </b> </a> </span> 
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"><h3>{% trans 'Journals' %}</h3>
                <span class="text-muted"> <a href="/iris_mp_list/?mp_context=Journals">{% trans 'Quantity' %}:<b>  {{ iris_portal.journ.count }} </b> </a> </span> 
            </div>
            <div class="col-sm-4"><h3>{% trans 'Systems params' %}</h3>
                <span class="text-muted"> <a href="/iris_mp_list/?mp_context=Systems">{% trans 'Quantity' %}:<b>  {{ iris_portal.sys.count }} </b> </a> </span> 
            </div>
            <div class="col-sm-4"><h3>{% trans 'Backups' %}</h3>
                <span class="text-muted"> <a href="/iris_mp_list/?mp_context=Backups">{% trans 'Quantity' %}:<b>  {{ iris_portal.backups.count }} </b> </a> </span> 
            </div>
        </div>
    </div>
{% endblock %}