{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    {% load my_tags %}
    <!-- Begin page content -->
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p>{{iris_portal.version}}, 
                    <p>Instance:<b> {% iris_piece iris_portal.instance "*" 1 %}</b>, dir: <b>{% iris_piece iris_portal.instance "*" 0 %} </b>
                        {% if iris_portal.status != 'ok' %} 
                            <span style="color:red"> {{iris_portal.status}} </span>
                        {% endif %}    
                <hr>
            </div>
        </div>
        <div class="row">
        {% autoescape off %}
            {{iris_portal.draw}}
        {% endautoescape %}
        </div>        
    </div>
{% endblock %}