<footer class="footer mt-auto py-3">
    <div class="container">
    <span class="text-muted" >&copy; MSW, {% now "Y" %}. <br>
      <a href="/admin/">Admin-Django</a> </span>
      <span class="text-muted"> | <a href="/param_index/">Django-parameters</a> </span>

      {% if iris_footer.status != 'ok' %} 
        <span style="color:red"> {{iris_footer.status}} </span>
      {% else %}   
        <!--{{iris_footer}}-->
        <span class="text-muted"> | <a href="/iris_mp/">Iris Portal</a> </span>
        <!--<span class="text-muted"> | <a target="_blank" href="/iris_info/">iris_info</a> </span>
        <span class="text-muted"> | <a target="_blank" href="/iris_alerts/">iris_alerts</a> </span>-->
      <span class="text-muted"> 
        <a target="_blank" href="{{ iris_footer.url }}> {{ iris_footer.ver }} </a> </span>
        {% for enum in iris_footer.apps %}
          <span class="text-muted"> |  
            <a target="_blank" href="{{ enum.url }}">{{ enum.name }}</a> 
          </span>
        {% endfor %}
      {% endif %}
      <span class="text-muted"> | <a target="_blank" href="https://github.com/SergeyMi37/apptools-django">GitHub. Apptools-Django</a> </span>
    </div>
</footer>